NEXT_PUBLIC_SITE_URL=https://maghribigroups.com
NEXT_PUBLIC_WHATSAPP_NUMBER=910000000000
NEXT_PUBLIC_CONTACT_PHONE=+91 00000 00000
NEXT_PUBLIC_CONTACT_EMAIL=info@maghribigroups.com
GOOGLE_SHEET_ENDPOINT=
LEAD_RATE_LIMIT_WINDOW_MS=60000
LEAD_RATE_LIMIT_MAX=5
